.category_container {
  width: 100%;
  padding: 20px 120px;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
  @media (max-width: 767px) {
    grid-template-columns: 100%;
    gap: 10px;
    row-gap: 10px;
    padding: 20px 20px;
  }
  .item_categories {
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 50px;
  }
}
