.user_container {
  width: 100%;
  padding: 20px 150px;
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 25px;
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 20px 10px;
  }
  @media (max-width: 767px) {
    padding: 20px 10px;
  }
  .menu_wrap {
    width: 30%;
    @media (min-width: 768px) and (max-width: 1023px) {
      display: none;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .tab_container {
    width: 100%;
  }
}
.menu_wrap {
  width: 100%;
  h3 {
    color: #fff;
  }
  p {
    color: #fff;
    opacity: 0.6;
  }
  .user_infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e62e04;
    padding: 20px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    img {
      border-radius: 50%;
      width: 80px;
      margin-bottom: 15px;
    }
  }
  .menu_item {
    padding: 15px;
    div {
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      color: #63666b;
      transition: 0.2s ease;
      gap: 20px;
      display: flex;
      // align-items: center;
    }
    div:hover {
      background-color: #f7a592;
    }
  }
}

.tab_container {
  width: 100%;
  .tab_layout {
    h2 {
      padding-bottom: 20px;
    }
  }
  .card_wrap {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    gap: 1.2%;
    @media (min-width: 768px) and (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    p:nth-child(1) {
      font-size: 2rem;
      font-weight: bolder;
      color: #fff;
    }
    p:nth-child(2) {
      font-size: 1.2rem;
      color: #fff;
      opacity: 0.7;
    }
    div {
      border-radius: 5px;
      height: 160px;
      padding: 20px;
      position: relative;
    }
    svg {
      overflow: hidden;
      vertical-align: middle;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }

    .bg_3 {
      background-color: #47c5f4;
      background-image: linear-gradient(315deg, #47c5f4 0%, #6791d9 74%);
    }
  }
}
.bg_1 {
  background-color: #eb4786;
  background-image: linear-gradient(315deg, #eb4786 0%, #b854a6 74%);
}
.bg_2 {
  background-color: #875fc0;
  background-image: linear-gradient(315deg, #875fc0 0%, #5346ba 74%);
}

// Wishlist
.wishlist_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  img {
    width: 400px;
  }
  p {
    font-size: 25px;
  }
}

// Wallet
.wallet_container {
  width: 100%;
  .wallet_infor {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    @media (min-width: 768px) and (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .card_item {
      width: 250px;
      height: 160px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      p {
        color: #fff;
        font-size: 30px;
        @media (min-width: 768px) and (max-width: 1023px) {
          font-size: 20px;
        }
        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
      @media (min-width: 768px) and (max-width: 1023px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .card_item:nth-child(2),
    .card_item:nth-child(3) {
      background-color: #fff;
      cursor: pointer;
      transition: 0.3s;
      svg {
        background-color: #8f98aa;
        border-radius: 50%;
      }
    }
    .card_item:nth-child(2):hover {
      background-color: #fff;
      cursor: pointer;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

//Manage Profile
.basic_info {
  margin-top: 20px;
  width: 100%;
  .form_info {
    margin-top: 20px;
    padding: 15px;
  }
  .button_wrap {
    text-align: end;
    margin-top: 10px;
    button {
      color: #fff;
      background-color: #e62e04;
      border: 1px solid #fbe0da;
      border-radius: 5px;
      padding: 10px 20px 10px 20px;
      cursor: pointer;
    }
  }
}

// address
.address_container {
}
